@charset "utf-8";
/* CSS Document */

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background:#0F1434;
}

/*header*/
header {
    background:#0F1434 ;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: beige;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: beige;
    font-size: 18px;
}


/*noun*/
.noun {
    background: beige;
    color: #0F1434;
    padding: 10px 20px;
    font-size: 18px;
	text-align: center;
}
.noun span {
    font-weight: bold;
}

/* news */
.news {
    width: 90%;
    margin: 30px auto;
    background: beige ;
    padding: 20px;
    border: 10px;
}

.news img {
    width: 100%;
    border: 10px;
}

.news h2 {
    margin: 15px 0;
    font-size: 26px;
	color:#0F1434;
    text-align: center;
	
}

.news p {
    font-size: 18px;
    color:#0F1434;
	text-align: center;

}

/*cards*/
.cards {
    width: 90%;
	margin: 20px auto;
	display: grid;
	grid-template-columns: 260px 260px 260px;
	gap:20px;
	justify-content: center;
}

.card {
    background: beige;
    padding: 15px;
    border: 10px;
}

.card img {
    width: 100%;
    border: 10px;
}

.card h3 {
    margin: 10px 0;
    font-size: 20px;
	color:#0F1434;
	text-align: center;
}

.card p {
    color: #0F1434;
	text-align: center;
}

.news video {
    width: 100%;
    border: 10px;
}


/*footer*/
footer {
    background: black ;
    color: beige ;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
}